<!doctype html>
<html lang="en">
    <head>
        <title>{{title}}</title>
        <style>
            .error {color:red;}
        </style>
    </head>
<body style="background-color:gray;">
    <main>

        <div class="container">

        <nav class="header">

            <h1 class="title"><a href="/">Blogz!</a></a></h1>
            <a href='/blog'>View All Posts</a>
            <a href='/newpost'>Add a Blog Entry</a>
            <a href="/logout">Logout</a>
            <a href="/login">Login</a>

        </nav>
        {% block content %}
        {% endblock %}
        </div>

    </body>

    <footer>
        <a href= "https://github.com/SBoyd2005/blogz1">https://github.com/SBoyd2005/blogz1</a>
    </footer>
    
</html>