{% extends "base.html" %}

{% block content %}
    <div class="new-post">

    <h1 class="post-header">Add a New Blog Entry</h1>

    <form method='POST'>

            <input type='text' name='title' value='{{title}}' placeholder="Type your title here"/>
            <p class="error">{{title_error}}</p><br> 
    
            <textarea ="text" name='body' placeholder="Type your text here">{{blog_body}}</textarea>
            <p class="error">{{body_error}}</p>
            
        <input type='submit' value='Add Entry' />
    </form>

</div>
    
{% endblock %}